.page {
    background-color: rgb(247, 247, 247);
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

.bground {
    border-radius: 10px;
    width: auto;
    height: auto;
    background-image: url("https://i.pinimg.com/474x/dd/63/6e/dd636e2685bc26cc9a921c9744b030b6.jpg"); /* The image used */
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 50%);
    color: white;
    display: flex;
    flex-direction: column;  
}

.mve_txt{
  margin-top: 70%;
  margin-left: 3%;
}

.card {
  display: flex;
  justify-content: start;
  border-radius: 20px;
  border: none;
  color: rgb(154, 154, 160);

  //shift text in cards to the left
  span{
    margin-left: 0%;
  }

  //enlarge svg icons in cards
  svg{
  height: 8%;
  width: 8%;
}

}

.italic{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






