.page {
  background-color: rgb(247, 247, 247);
  height: 100vh;
}

.navbar{
    background-color: #343a40;
    color: rgb(181, 181, 181);
    height: 60px;
}

input:focus {
  outline: none !important;
  border-color: #b2c0cf;
  box-shadow: 0 0 10px #9eb4d8;

  
}

.card {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: none;
  color: rgb(154, 154, 160);
}

.float {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 5px;
  right: 20px;
  background-color: rgb(146, 151, 150);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px rgb(221, 206, 206);
}

section {
  background-color: rgb(182, 182, 182);
}

svg{
  height: 6%;
  width: 6%;
}