<section class="page">
  <nav class="navbar">
    <h4>Navbar</h4>
  </nav>

  <div class="container">
    <div class="row justify-content-center mt-4">

      <!-- Search input -->
      <div class="col-12">
        <div class="d-flex form-group" style="justify-content: center">
          <input type="text" id="text" class="form-control mx-4" placeholder="search country"
            aria-describedby="inputGroup-sizing-default" style="border-radius: 20px" />
        </div>
      </div>

      <!-- Filters -->
      <div class="flex mx-2 shadow" style="margin-top: 10%; border-radius: 20px" *ngFor="let item of [1, 2, 3]">
        <span class="badge" style="font-size: 110%">Warning</span>
      </div>

      <!-- Country cards -->
      <div class="flex flex-col" *ngFor="let item of data">
        <div class="mt-4">
          <div class="card flex flex-row">
            <div class="d-flex">
              
            </div>
              <div class="col-3 mr-3">
                <img src= {{item.flag}} alt="ads via Carbon" height="90" width="108"
                  style="border-radius: 20px; margin-top: 14%" />
              </div>
              <div class="col-9">
                <div class="card-body">
                  <h6 class="card-title">Country: {{item.country}}</h6>
                  <p class="card-text">Capital: {{item.capital}}</p>
                </div>
              </div>
           
          </div>
        </div>
      </div>


    </div>
  </div>
</section>